<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{% block page_title %}SongRatr{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header class="app-header">
      <div class="brand"><a href="{{ url_for('home.home') }}">SongRatr</a></div>
      
      <nav class="nav-links">
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('profile.view_profile') }}" class="nav-link" id="view-profile">View Profile</a>
          <a href="{{ url_for('auth.logout') }}" class="nav-link" style="margin:10px;">Logout</a>
          <a href="{{ url_for('upload.upload_song') }}" class="nav-link"id="upload">Upload & Rate</a>
        {% else %}
          <a href="{{ url_for('auth.login') }}" class="nav-link" id="login" style="margin:12px;">Login</a>
        {% endif %}
      </nav>
    </header>

    <main class="app-main">
      <div class="app-container">
      {% block page_content %}{% endblock %}
      </div>
    </main>

    <nav class="bottom-nav">
      <a href="{{ url_for('home.home') }}">Home</a>   <!-- bar at the bottom for buttons -->
    </nav>
  </body>
</html>
